# OS
.DS_Store
Thumbs.db

# Arduino / build artifacts
*.o
*.elf
*.bin
*.hex
*.map
*.d
*.a
build/
dist/

# PlatformIO
.pio/
.vscode/

# Local secrets (DON'T COMMIT)
secrets.h
secrets.hpp
wifi_secrets.h

